@using Microsoft.AspNetCore.Routing
@{
    var network = Context.GetRouteData().Values["network"].ToString();
    // ReSharper disable once InconsistentNaming
    var networkObj = Network.GetById(network);
    // ReSharper disable once InconsistentNaming
    var m_api = networkObj.Api;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Title" content="CREDITS Monitor network explorer - FAQ | credits.com">
    <meta name="Description" content="CREDITS Monitor network explorer  - FAQ | credits.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CREDITS cryptocurrency blockchain transaction explorer | credits.com</title>
    <environment exclude="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110018170-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }

            gtag('js', new Date());
            gtag('config', 'UA-110018170-3');
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-PPF66RB');
        </script>
        <!-- End Google Tag Manager -->
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter51067157 = new Ya.Metrika2({
                            id: 51067157,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true,
                            trackHash: true
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/tag.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks2");
        </script>
        <!-- /Yandex.Metrika counter -->
    </environment>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&amp;subset=cyrillic" rel="stylesheet">    
    <link rel="stylesheet" href="/style.css" asp-append-version="true">
    <script type="text/javascript" src="/components.js" asp-append-version="true"></script>
    @RenderSection("head", false)
</head>
<body>
    <environment exclude="Development">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPF66RB"
                    height="0" width="0" style="display: none; visibility: hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!-- Yandex.Metrika counter (noscript) -->
        <noscript><div><img src="https://mc.yandex.ru/watch/51067157" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter (noscript)-->
    </environment>
    <map name="image-map">
        <area target="" alt="Credits.com" title="Credits.com" href="https://credits.com" coords="1,1,47,42" shape="rect">
        <area target="" alt="Home" title="Home" href="~/@network" coords="47,1,180,42" shape="rect">
    </map>

<header class="fixed-top bg-light">
    <nav class="navbar navbar-light bg-light mw1000">
        <div class="d-block d-md-none d-lg-block" style="width: 150px"></div>
        <div class="d-none d-md-block ">
            <form id="search-form-top" action="~/@network/search" method="post">
                <div class="input-group">
                    <input type="text" name="query" placeholder="Search transaction, block, account, etc" class="form-control form-control-sm" style="width: 450px">
                    <div class="input-group-append ">
                        <button class="btn btn-outline-secondary btn-sm" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="nav-item dropdown">
            <strong>Network: </strong>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @networkObj.Title
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    @foreach (var n in Network.Networks)
                    {
                        <a class="dropdown-item" href="~/@n.Id/">@n.Title</a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <div class="bg-dark navbar-shadow">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mw1000">
            <a href="~/@network"><img src="/img/logo.png" alt="Logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="navItemHome">
                        <a class="nav-link" href="~/@network/index">Home</a>
                    </li>
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blockchain
                        </a>
                        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item " href="~/@network/blocks">Blocks</a>
                            <a class="dropdown-item " href="~/@network/transactions">Transactions</a>
                            <a class="dropdown-item " href="~/@network/contracts">Smart contracts</a>
                            <a class="dropdown-item " href="~/@network/accounts">Accounts</a>
                            <a class="dropdown-item " href="~/@network/tokens">Tokens</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Network
                        </a>
                        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item " href="~/@network/tools/nodes">Network nodes</a>
                            <a class="dropdown-item " href="~/@network/tools/tps">Transactions per second</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Misc
                        </a>
                        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item " href="~/@network/tools/csrequest">Request coins</a>
                            <a class="dropdown-item " href="https://developers.credits.com" target="_blank">For developers</a>
                            <a class="dropdown-item " href="~/@network/tools/dictionary">Terms reference</a>
                        </div>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="~/@network/blocks">Blocks</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="~/@network/transactions">Transactions</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="~/@network/contracts">Smart contracts</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="~/@network/accounts">Accounts</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="~/@network/tools/nodes">Network nodes</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="~/@network/tools/tps">Transactions per second</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="~/@network/tools/csrequest">Request coins</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
    <div id="spaceTop" class="row"></div>
    <div id="infoBar" class="info-bar">
        <a href="~/@network/tools/csrequest">Apply</a> to get Credits (CS) coins for testing
    </div>
    <main class="container content mw1000">
        @if (networkObj.Updating)
        {
            <h2 class="main_title padding_top_60 p_bot20">We are updating the service. Please try again later.</h2>
        }
        else
        {
            <div class="row justify-content-center mt-2">
                <div class="col-12 d-md-none">
                    <form id="search-form" action="~/@network/search" method="post">
                        <div class="input-group mb-3">
                            <input type="text" name="query" placeholder="Search transaction, block, account, etc" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="app">
                @RenderBody()
            </div>
        }
    </main>
    <footer class="mt-5 bg-dark">
        <div class="navbar-dark bg-dark p-3 mw1000">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item ">
                                <a class="nav-link" href="~/@network">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://wallet.credits.com" target="_blank">Wallet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://credits.com/en/Home/Contacts" target="_blank">Contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/@network/tools/csrequest">Request coins</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="~/@network/blocks">Blocks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/@network/contracts">Smart contracts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/@network/tools/nodes">Network nodes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/@network/tools/tps">Transactions per second</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="https://developers.credits.com">For developers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/@network/tools/dictionary">Terms reference</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="container py-3 mw1000">
        
            <div class="copyright-text">
                <p>&copy; 2018 <a href="https://credits.com">CREDITS.COM</a> All Rights Reserved.</p>
            </div>
        
    </div>
    <script>
        const M_API = "@m_api";
        const M_NET = "/@network";
    </script>
    @RenderSection("script", false)
</body>
</html>